*{
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header {
    background-color: #FFFFFF;
    padding-top: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    max-width: 1360;
    width: 85%;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    line-height: 152%;
}

nav .btn {
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight:600;
    color: #FFFFFF;
    cursor: pointer;
    line-height: 19px;
    align-items: center;
} 


